<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="sidebar">
        <h1>Task Manager</h1>
        <form action="/add" method="post">
            <div class="task-input">
                <input type="text" id="task" name="task" placeholder="Enter a new task" required>
                <button type="submit">Add Task</button>
            </div>
        </form>
        <footer>
            <p>A Full Stack App By Rubinder Gidar</p>
            <p><a href="https://github.com/Rubinderx/To-do-App" target="_blank">Link to GH repo</a></p>
        </footer>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
